<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<h2>
    <f:translate key="LLL:EXT:ku_driftinformation/Resources/Private/Language/locallang.xlf:previous" />
</h2>
<a class="btn-ku-driftinfo" data-bs-toggle="collapse" href="#fold" role="button" aria-expanded="false" aria-controls="fold">
    <f:translate key="LLL:EXT:ku_driftinformation/Resources/Private/Language/locallang.xlf:seePrevious" />
</a>
<div class="collapse" id="fold">
    <ul class="list-unstyled">
        <f:for each="{previousinfo.item}" as="item" iteration="iterator">
            <li>
                <a class="btn-ku-driftinfo" data-bs-toggle="collapse" href="#collapse-{item.id}" role="button" aria-expanded="false" aria-controls="collapse-{item.id}">
                    <f:format.html>{item.overskrift.0}</f:format.html>
                </a>
                <div class="collapse" id="collapse-{item.id}">
                    <f:format.html>{item.beskrivelse.0}</f:format.html>
                </div>
            </li>
        </f:for>
    </ul>
</div>

</html>
